<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" style="cursor: pointer;" class="navbar-brand">Recipie Book</a>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li style="cursor: pointer;"><a  routerLink="recipies" routerLinkActive="active">Recipies</a></li>
                <li style="cursor: pointer;"><a  routerLink="shopping-list" routerLinkActive="active" >Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a  class="dropdown-toggle" 
                    role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li style="cursor: pointer;"><a >Save Data</a></li>
                        <li style="cursor: pointer;"><a >Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
