<div class="row">
    <form [formGroup]="recipieEditForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary" [disabled]="!recipieEditForm.valid" type="submit">Save</button>
                <button class="btn btn-danger" (click)="clearForm()" type="button">Cancel</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="name">Recipie Name</label>
                    <input type="text" formControlName="name" class="form-control" id="name">
                </div>
            </div>
        </div>
        <span class="help-block" *ngIf="recipieEditForm.get('name').errors?.required 
            && recipieEditForm.get('name').touched">Please enter a value</span>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="image-url">Image Url</label>
                    <input type="text" formControlName="imageURL" class="form-control" id="image-url">
                </div>
            </div>
        </div>
        <span class="help-block" *ngIf="recipieEditForm.get('imageURL').errors?.required 
            && recipieEditForm.get('imageURL').touched">Please enter a value</span>

        <div class="row">
            <div class="col-xs-12">
                <img src="{{recipieEditForm.value['imageURL']}}" class="img-responsive">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea type="text" formControlName="description" class="form-control" id="description"
                        rows="6"></textarea>
                </div>
            </div>
        </div>
        <span class="help-block" *ngIf="recipieEditForm.get('description').errors?.required 
            && recipieEditForm.get('description').touched">Please enter a value</span>
        <div class="row">
            <div class="col-xs-12" formArrayName="ingridients">
                <div class="row" *ngFor="let ingridients of getIngridients(); let i=index" [formGroupName]="i">
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="ingridients-name" formControlName='name'>
                    </div>
                    <div class="col-xs-2">
                        <input type="number" id="ingridients-amount" class="form-control" formControlName='amount'>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-danger" (click)="removeRow(i)">X</button>
                    </div>
                </div>

            </div>

        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-xs-12">
                <button class="btn btn-success" type="button" (click)="onAddIngridient()">Add Ingridient</button>
            </div>
        </div>
    </form>
</div>