<div class="row">
    <div class="col-xs-12">
        <img [src]="selectedRecipie.imageURL" 
        alt="{{selectedRecipie.name}}" 
        class="img-responsive"
        style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{selectedRecipie.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <a  class="list-group-item"
            style="cursor: pointer;"
            *ngFor="let item of selectedRecipie.ingridients;">
        {{item.name}}({{item.amount }})
        </a>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group dropdown" appDropdown>
            <button type="button" 
            class="btn btn-primary dropdown-toggle">
            Manage Recipies <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="sendToShoppingList()">To shopping list</a></li>
            <li><a style="cursor: pointer;" routerLink="edit" (click) = "onEdit()" >Edit Recipie</a></li>
            <li><a style="cursor: pointer;" (click)="deleteRecipie()">Delete Recipie</a></li>
        </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{selectedRecipie.description}}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Ingridients
    </div>
</div>